<ion-header>
  <ion-toolbar>
    <ion-title>Welcome!!</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-button (doClick)="addTask()" value="Add" color="success"></app-button>
  <app-button (doClick)="profile()" value="Profile" color="success"></app-button>
  <ion-list *ngIf="userTasks$ | async as userTasks; else noTasks">
    <ion-item *ngFor="let task of userTasks" (click)="viewTask(task.id)">
      <ion-label>
        <h2>{{ task.title }}</h2>
        <p>{{ task.description }}</p>
        <p><small>Date: {{ task.date }}</small></p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ng-template #noTasks>
    <ion-item>
      <ion-label>Nothing here...</ion-label>
    </ion-item>
  </ng-template>
</ion-content>
