<ion-header>
  <ion-toolbar>
    <ion-title>Formulario de Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form class="form-container" [formGroup]="myForm" (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-label position="floating">Name</ion-label>
      <ion-input type="text" formControlName="name"></ion-input>
    </ion-item>
    <div *ngIf="myForm.get('name')?.invalid && myForm.get('name')?.touched" class="error-message">
      El nombre es requerido.
    </div>

    <ion-item>
      <ion-label position="floating">Lastname</ion-label>
      <ion-input type="text" formControlName="lastName"></ion-input>
    </ion-item>
    <div *ngIf="myForm.get('lastName')?.invalid && myForm.get('LastName')?.touched" class="error-message">
      El apellido es requerido.
    </div>

    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" formControlName="email"></ion-input>
    </ion-item>
    <div *ngIf="myForm.get('email')?.invalid && myForm.get('email')?.touched" class="error-message">
      El email es requerido.
    </div>

    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" formControlName="password"></ion-input>
    </ion-item>
    <div *ngIf="myForm.get('password')?.invalid && myForm.get('password')?.touched" class="error-message">
      El password es requerido.
    </div>

    <ion-item>
      <ion-label position="floating">Age</ion-label>
      <ion-input type="number" formControlName="age"></ion-input>
    </ion-item>
    <div *ngIf="myForm.get('age')?.invalid && myForm.get('age')?.touched" class="error-message">
      La edad es requerida.
    </div>

    <ion-item>
      <ion-label position="floating">Phone</ion-label>
      <ion-input type="tel" formControlName="phone"></ion-input>
    </ion-item>
    <div *ngIf="myForm.get('phone')?.invalid && myForm.get('phone')?.touched" class="error-message">
      El phone es requerido.
    </div>

    <ion-item>
      <ion-label position="floating">Image</ion-label><br>
      <ion-input type="file" formControlName="image"></ion-input>
    </ion-item>
    <div *ngIf="myForm.get('image')?.invalid && myForm.get('image')?.touched" class="error-message">
      La imagen es requerida.
    </div>
    <ion-button expand="full" type="submit" [disabled]="myForm.invalid">Enviar</ion-button>
  </form>
</ion-content>
