
<ion-fab vertical="bottom" horizontal="start" slot="fixed">
  <ion-fab-button (click)="goBack()">
    <ion-icon name="arrow-back"></ion-icon>
  </ion-fab-button>
</ion-fab>

<ion-content *ngIf="task$ | async as task">
  <ion-card>
    <ion-card-header>
      <ion-card-title>{{ task.title }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>{{ task.description }}</p>
      <p>Date: {{ task.date }}</p>
      <p>Status: {{ task.done ? 'Completada' : 'Pendiente' }}</p>
    </ion-card-content>
  </ion-card>

  <ion-button expand="full" color="danger" (click)="deleteTask()">Eliminar Tarea</ion-button>
  <ion-button expand="full" color="primary" (click)="editTask()">Editar</ion-button>

  <div class="modal-backdrop" *ngIf="isEditing">
    <div class="modal-content">
      <ion-card>
        <ion-card-header>
          <ion-card-title>Editar Tarea</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <form [formGroup]="taskForm">
            <ion-item>
              <ion-label position="stacked">Título</ion-label>
              <ion-input formControlName="title"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="stacked">Descripción</ion-label>
              <ion-textarea formControlName="description"></ion-textarea>
            </ion-item>
            <ion-item>
              <ion-label position="stacked">Fecha</ion-label>
              <ion-datetime displayFormat="MM/DD/YYYY" formControlName="date"></ion-datetime>
            </ion-item>
            <ion-item>
              <ion-label>Status</ion-label>
              <ion-checkbox formControlName="done"></ion-checkbox>
            </ion-item>
            <div class="modal-buttons">
              <ion-button (click)="cancelEdit()">Cancelar</ion-button>
              <ion-button expand="full" (click)="saveTask()">Guardar Cambios</ion-button>
            </div>
          </form>
        </ion-card-content>
      </ion-card>
    </div>
  </div>
</ion-content>